.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

bin/
.idea/
**/log/chassis.log
*.exe
*.log
*.zip
*.lnk

release
*.tar.gz
glide.lock

vendor/**
!vendor/manifest
docs/_build
benchmark/**/*.csv
benchmark/**/*.txt
benchmark/client/client
benchmark/server/server
benchmark/**/log
coverage.out
coverage.txt
main
auth.yaml